<%= turbo_frame_tag 'game', class: 'w-full', data: {controller: 'timeout series', 'serie-length': session[SessionConstants::SERIES_COUNT_KEY]} do %>
  <progress min="0" max="100" data-timeout-target="progress" id="progress"></progress>

  Score : <%= session[:series] %>

  <div class="flex justify-center items-center text-center px-4" id="question">
    <div class="text-primary text-[110px] mx-auto w-full font-bold">
      <%= session[SessionConstants::LEFT_OPERAND_KEY] %>
      <%= session[SessionConstants::OPERATOR_KEY] %>
      <%= session[SessionConstants::RIGHT_OPERAND_KEY] %>
    </div>
  </div>
  <div class="flex flex-col w-full justify-center items-center text-center px-8 text-primary text-[36px]" id="answers">
    <% session[SessionConstants::ALL_ANSWERS_KEY].each do |answer| %>
      <%=
        button_to answer_path,
         params: {value: answer},
         form_class: 'w-full' ,
         class: 'w-full flex align-center justify-center',
         data: { turbo_frame: 'game' } do
      %>
        <div class="button">
          <p class="my-5"><%= answer %></p>
        </div>
        <% end %>
    <% end %>
  </div>
  </div>
<% end %>
