<%= turbo_frame_tag 'game', class: 'w-full' do %>
  <div class="w-full",
    data-controller="timeout series"
    data-question-no="<%= session[SessionConstants::SERIES_COUNT_KEY]%>"
    data-timebank="<%= session[SessionConstants::TIMEBANK_KEY] || 0 %>"
    data-time-coef="<%= session[SessionConstants::TIME_COEF_KEY] || 1 %>"
    data-current-serie="<%= session[SessionConstants::CURRENT_SERIE_KEY]%>"
  >

    <div class="progress-container absolute  top-0 flex items-center justify-center">
      <progress value="100" min="0" max="100" class="gradient-blue" data-timeout-target="progress" id="progress"></progress>

      <button type="button"
        class="ml-3 z-20"
        data-action=""
      >
        <%= link_to new_game_path do %>
          <%=
            image_tag 'cross.png'
          %>
        <% end %>
      </button>
    </div>

    <div class="flex justify-center items-center text-center px-4 number" id="question">
      <div class="text-primary text-[110px] mx-auto w-full font-bold number">
        <%= session[SessionConstants::LEFT_OPERAND_KEY] %>
        <%= better_operator(session[SessionConstants::OPERATOR_KEY]) %>
        <%= session[SessionConstants::RIGHT_OPERAND_KEY] %>
      </div>
    </div>

    <div class="flex flex-col w-full justify-center items-center text-center px-8 text-primary text-[36px]" id="answers">
      <% session[SessionConstants::ALL_ANSWERS_KEY].each do |answer| %>
        <%=
          button_to answer_path,
              params: {value: answer, tb: session[SessionConstants::TIMEBANK_KEY]},
           form_class: 'w-full' ,
           class: 'w-full flex align-center justify-center number',
           form: {
             data:
             {
               'timeout-target': 'tb',
               'turbo-frame': 'game',
             }.merge(action_for_answer(answer))
           } do
        %>
          <div class="button">
            <p class="my-5 number"><%= answer %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
