<%= turbo_frame_tag 'game', data: {controller: 'timeout'} do %>
  <progress min="0" max="100" data-timeout-target="progress" id="progress"></progress>

  Score : <%= session[:series] %>

  <div class="flex justify-center items-center text-center px-4" id="question">
    <div class="bg-white border border-green-300 border-4  p-5 px-20 my-2 w-full text-xl font-bold">
      <%= session[SessionConstants::LEFT_OPERAND_KEY] %>
      <%= session[SessionConstants::OPERATOR_KEY] %>
      <%= session[SessionConstants::RIGHT_OPERAND_KEY] %>
    </div>
  </div>
  <div class="flex flex-col justify-center items-center text-center px-8" id="answers">
    <% session[SessionConstants::ALL_ANSWERS_KEY].each do |answer| %>
      <%=
        button_to answer, answer_path,
            params: {value: answer},
         data: { turbo_frame: '_top' },
         form_class: 'bg-white border border-green-300 border-4 p-1 px-20 m-2 w-full'
      %>
    <% end %>
  </div>
  </div>
<% end %>
