<h1>Let's play !</h1>

Score : <%= session[:series] %>

<div class="flex justify-center items-center text-center" id="question">
  <%= rand(1..10) %> x <%= rand(1..10) %> = ?
</div>
<div class="flex flex-wrap justify-center items-center text-center" id="answers">
  <%= button_to '10', answer_path, form_class: 'border border-red-500 rounded p-1 m-2' %>
  <%= button_to '20', answer_path, form_class: 'border border-red-500 rounded p-1 m-2' %>
  <%= button_to '30', answer_path, form_class: 'border border-red-500 rounded p-1 m-2' %>
  <%= button_to '40', answer_path, form_class: 'border border-red-500 rounded p-1 m-2' %>
</div>
