<!DOCTYPE html>
<html>
  <head>
    <title>Division</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="game-container">

    <div data-controller="sounds">
      <div>
      <% if is_game_scene? %>
        <audio loop data-sounds-target="music" src="<%=audio_path('music.mp3')%>" type="audio/mpeg"/>
      <% else %>
        <audio loop data-sounds-target="music" src="<%=audio_path('intro.mp3')%>" type="audio/mpeg"/>
      <% end %>
      </div>

      <% if request.path != '/' %>
        <button type="button"
          class="absolute bottom-[5px] right-[5px] z-20"
          data-action="click->sounds#toggleMute"
        >
          <%=
            image_tag 'mute.png', data: {
              'sounds-target': 'icon',
              'mute-icon': image_path('mute.png'),
              'unmute-icon': image_path('unmute.png')
            }
          %>
        </button>
      <% end %>
    </div>


    <main class="game container mx-auto flex">
	    <div id="top" class="gradient-blue">
		    <!--<div id="sky"></div>-->
	    </div>
	    <div id="bottom">
		    <div id="ground"></div>
	    </div>
	    <div id="text">

        <%= yield %>

        <p class="absolute top-2 right-2 h-fit w-fit text-primary font-bold text-xs z-10 w-fit h-fit hidden">
          <% if session[:name].present? %>
            <%= session[:name] %> <!-- <%= session[:id] %>-->
          <% else %>
             Unknown Player
          <% end %>
          <!-- <%= session.to_json.html_safe %>-->
        </p>
	    </div>
    </main>
  </body>
</html>
